In [1]:
# Add dependencies
import glob
import pandas as pd

In [2]:
clean_data = pd.concat([pd.read_csv(f) for f in glob.glob('citibike_data/*.csv')], ignore_index = True)

In [3]:
clean_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,1
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,1
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,1
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,2
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,1

In [4]:
clean_data.count()

tripduration               372446
starttime                  372446
stoptime                   372446
start station id           372446
start station name         372446
start station latitude     372446
start station longitude    372446
end station id             372446
end station name           372446
end station latitude       372446
end station longitude      372446
bikeid                     372446
usertype                   372446
birth year                 372446
gender                     372446
dtype: int64

In [6]:
clean_data.gender[clean_data.gender == 0] = 'unknown'
clean_data.gender[clean_data.gender == 1] = 'male'
clean_data.gender[clean_data.gender == 2] = 'female'
clean_data.head()

C:\Users\roshi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,male
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,male
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,male
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,female
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,male

In [11]:
# Export to csv
clean_data.to_csv('clean_data/cleandata1920.csv', mode = 'w', index=False)

In [11]:
march_data.max()

tripduration                                2969781
starttime                  2019-03-31 23:59:58.0230
stoptime                   2019-04-14 17:24:35.5970
start station id                               3749
start station latitude                       40.863
start station longitude                     -73.881
end station id                                 3749
end station latitude                         40.863
end station longitude                       -73.881
bikeid                                        37964
usertype                                 Subscriber
birth year                                     2003
gender                                            2
dtype: object

In [12]:
march_data['birth year'].min()

1857

In [13]:
march_data['tripduration'].median()

539.0

In [14]:
march_data['birth year'].head()

0    1989
1    1980
2    1987
3    1987
4    1991
Name: birth year, dtype: int64

In [15]:
birthyearsort = march_data.sort_values('birth year', ascending = True)
birthyearsort.head(100)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
61732,1774,2019-03-03 14:03:37.8600,2019-03-03 14:33:12.7350,265.0,Stanton St & Chrystie St,40.722293,-73.991475,146.0,Hudson St & Reade St,40.716250,-74.009106,28797,Customer,1857,1
63087,1055,2019-03-03 14:36:07.7710,2019-03-03 14:53:43.6540,146.0,Hudson St & Reade St,40.716250,-74.009106,387.0,Centre St & Chambers St,40.712733,-74.004607,28797,Customer,1857,1
57673,2488,2019-03-03 12:34:08.7570,2019-03-03 13:15:36.9480,3737.0,Stanton St & Norfolk St,40.720747,-73.986274,531.0,Forsyth St & Broome St,40.718939,-73.992663,26861,Customer,1857,1
60209,1825,2019-03-03 13:30:23.3600,2019-03-03 14:00:48.4700,473.0,Rivington St & Chrystie St,40.721101,-73.991925,265.0,Stanton St & Chrystie St,40.722293,-73.991475,28711,Customer,1857,1
59681,277,2019-03-03 13:18:50.1930,2019-03-03 13:23:28.0170,531.0,Forsyth St & Broome St,40.718939,-73.992663,531.0,Forsyth St & Broome St,40.718939,-73.992663,35248,Customer,1857,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30330,738,2019-03-02 00:20:35.8890,2019-03-02 00:32:54.4660,3295.0,Central Park W & W 96 St,40.791270,-73.964839,3148.0,E 84 St & 1 Ave,40.775655,-73.950686,32297,Subscriber,1888,0
1036070,242,2019-03-26 17:24:23.8240,2019-03-26 17:28:26.2870,128.0,MacDougal St & Prince St,40.727103,-74.002971,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,31044,Subscriber,1888,0
1155922,177,2019-03-28 18:27:44.7020,2019-03-28 18:30:41.8990,435.0,W 21 St & 6 Ave,40.741740,-73.994156,453.0,W 22 St & 8 Ave,40.744751,-73.999154,33316,Subscriber,1888,1
805816,213,2019-03-21 07:20:03.8320,2019-03-21 07:23:37.5590,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3725.0,2 Ave & E 72 St,40.768762,-73.958408,21470,Subscriber,1888,1
206906,143,2019-03-08 05:49:21.7950,2019-03-08 05:51:44.7990,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,28962,Subscriber,1888,1

In [16]:
march_data.loc[march_data['birth year'] < 1919]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
184,796,2019-03-01 00:33:47.1640,2019-03-01 00:47:03.4060,3298.0,Warren St & Court St,40.686371,-73.993833,3349.0,Grand Army Plaza & Plaza St West,40.672968,-73.970880,29995,Subscriber,1900,1
1778,1749,2019-03-01 07:36:12.8350,2019-03-01 08:05:22.2230,427.0,Bus Slip & State St,40.701907,-74.013942,212.0,W 16 St & The High Line,40.743349,-74.006818,29426,Subscriber,1901,1
2772,1483,2019-03-01 08:16:18.6520,2019-03-01 08:41:01.8040,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,376.0,John St & William St,40.708621,-74.007222,32134,Subscriber,1899,1
7309,595,2019-03-01 10:45:43.7950,2019-03-01 10:55:38.8930,334.0,W 20 St & 7 Ave,40.742388,-73.997262,3258.0,W 27 St & 10 Ave,40.750182,-74.002184,26069,Subscriber,1896,1
9398,334,2019-03-01 12:27:47.3980,2019-03-01 12:33:21.7840,157.0,Henry St & Atlantic Ave,40.690893,-73.996123,3486.0,Schermerhorn St & Bond St,40.688417,-73.984517,16961,Subscriber,1916,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319491,120,2019-03-31 18:10:22.7500,2019-03-31 18:12:22.8680,3093.0,N 6 St & Bedford Ave,40.717452,-73.958509,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,36652,Subscriber,1910,1
1321594,2004,2019-03-31 18:52:13.3540,2019-03-31 19:25:37.9590,3125.0,45 Rd & 11 St,40.747086,-73.949772,3398.0,Smith St & 9 St,40.674696,-73.997858,36098,Subscriber,1887,0
1322307,240,2019-03-31 19:10:13.5560,2019-03-31 19:14:14.5400,157.0,Henry St & Atlantic Ave,40.690893,-73.996123,3388.0,President St & Henry St,40.682800,-73.999904,31851,Subscriber,1895,1
1326489,100,2019-03-31 21:39:51.8820,2019-03-31 21:41:32.7770,3298.0,Warren St & Court St,40.686371,-73.993833,3409.0,Bergen St & Smith St,40.686744,-73.990632,16635,Subscriber,1900,1
1326563,502,2019-03-31 21:43:31.1320,2019-03-31 21:51:53.4360,3409.0,Bergen St & Smith St,40.686744,-73.990632,3349.0,Grand Army Plaza & Plaza St West,40.672968,-73.970880,37878,Subscriber,1900,1

In [17]:
marchBY = march_data.drop(march_data[march_data['birth year'] < 1919].index)

marchBY['birth year'].min()

1919

In [18]:
marchBY.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,1.327142e+06,1.327132e+06,1.327142e+06,1.327142e+06,1.327132e+06,1.327142e+06,1.327142e+06,1.327142e+06,1.327142e+06,1.327142e+06
mean,8.827872e+02,1.667959e+03,4.073776e+01,-7.398195e+01,1.657334e+03,4.073755e+01,-7.398215e+01,2.989465e+04,1.979444e+03,1.167481e+00
std,8.574112e+03,1.470710e+03,3.055979e-02,1.887003e-02,1.469634e+03,3.038618e-02,1.891717e-02,6.644996e+03,1.203464e+01,4.970236e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.401713e+01,7.200000e+01,4.065540e+01,-7.404399e+01,1.452900e+04,1.919000e+03,0.000000e+00
25%,3.210000e+02,3.850000e+02,4.071882e+01,-7.399462e+01,3.830000e+02,4.071882e+01,-7.399468e+01,2.648400e+04,1.969000e+03,1.000000e+00
50%,5.390000e+02,5.150000e+02,4.073932e+01,-7.398474e+01,5.140000e+02,4.073913e+01,-7.398516e+01,3.183800e+04,1.982000e+03,1.000000e+00
75%,9.440000e+02,3.295000e+03,4.075763e+01,-7.397188e+01,3.293000e+03,4.075725e+01,-7.397208e+01,3.522800e+04,1.989000e+03,1.000000e+00
max,2.969781e+06,3.749000e+03,4.086300e+01,-7.388100e+01,3.749000e+03,4.086300e+01,-7.388100e+01,3.796400e+04,2.003000e+03,2.000000e+00

In [19]:
marchBY['tripduration'].max()

2969781

In [20]:
marchBY.loc[marchBY['tripduration'] > 15000]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
252,775798,2019-03-01 01:00:53.9960,2019-03-10 00:30:52.9620,3124.0,46 Ave & 5 St,40.747310,-73.954510,3115.0,India St & Manhattan Ave,40.732322,-73.955086,17391,Customer,1969,0
3297,602998,2019-03-01 08:32:14.5840,2019-03-08 08:02:13.0060,355.0,Bayard St & Baxter St,40.716021,-73.999744,377.0,6 Ave & Canal St,40.722438,-74.005664,35663,Subscriber,1996,1
7294,18520,2019-03-01 10:45:18.7710,2019-03-01 15:53:58.8310,146.0,Hudson St & Reade St,40.716250,-74.009106,320.0,Leonard St & Church St,40.717571,-74.005549,36016,Subscriber,1989,2
7807,22375,2019-03-01 11:14:34.2730,2019-03-01 17:27:29.6770,342.0,Columbia St & Rivington St,40.717400,-73.980166,342.0,Columbia St & Rivington St,40.717400,-73.980166,35275,Subscriber,1946,1
10392,118637,2019-03-01 13:08:19.8890,2019-03-02 22:05:37.3250,3168.0,Central Park West & W 85 St,40.784727,-73.969617,3432.0,NYCBS Depot - GOW,40.669060,-73.994637,34687,Subscriber,1954,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1325108,86210,2019-03-31 20:33:11.5670,2019-04-01 20:30:01.9240,368.0,Carmine St & 6 Ave,40.730386,-74.002150,432.0,E 7 St & Avenue A,40.726218,-73.983799,36258,Subscriber,1991,1
1325853,53267,2019-03-31 21:04:55.7320,2019-04-01 11:52:42.9580,505.0,6 Ave & W 33 St,40.749013,-73.988484,3641.0,Broadway & W 25 St,40.742869,-73.989186,30335,Customer,1999,1
1326217,51969,2019-03-31 21:24:11.8260,2019-04-01 11:50:21.5900,3534.0,Frederick Douglass Blvd & W 117 St,40.805159,-73.954692,3533.0,St. Nicholas Ave & W 126 St,40.811432,-73.951878,35610,Subscriber,1989,2
1326761,40635,2019-03-31 21:55:05.1570,2019-04-01 09:12:21.0610,471.0,Grand St & Havemeyer St,40.712868,-73.956981,3101.0,N 12 St & Bedford Ave,40.720798,-73.954847,31026,Subscriber,1990,1
1327652,115817,2019-03-31 23:13:47.7730,2019-04-02 07:24:04.8780,326.0,E 11 St & 1 Ave,40.729538,-73.984267,266.0,Avenue D & E 8 St,40.723684,-73.975748,15768,Subscriber,1992,2

In [21]:
marchClean = marchBY.drop(marchBY[marchBY['tripduration'] > 15000].index)

marchClean['tripduration'].max()

14996

In [22]:
marchClean.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,1.325485e+06,1.325475e+06,1.325485e+06,1.325485e+06,1.325475e+06,1.325485e+06,1.325485e+06,1.325485e+06,1.325485e+06,1.325485e+06
mean,7.452678e+02,1.667680e+03,4.073776e+01,-7.398195e+01,1.656985e+03,4.073755e+01,-7.398215e+01,2.989718e+04,1.979445e+03,1.167801e+00
std,7.103853e+02,1.470667e+03,3.055024e-02,1.886661e-02,1.469580e+03,3.037497e-02,1.891397e-02,6.644268e+03,1.203488e+01,4.965744e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.401713e+01,7.200000e+01,4.065540e+01,-7.404399e+01,1.452900e+04,1.919000e+03,0.000000e+00
25%,3.200000e+02,3.850000e+02,4.071882e+01,-7.399462e+01,3.830000e+02,4.071882e+01,-7.399468e+01,2.648900e+04,1.969000e+03,1.000000e+00
50%,5.380000e+02,5.150000e+02,4.073932e+01,-7.398474e+01,5.140000e+02,4.073913e+01,-7.398516e+01,3.184600e+04,1.982000e+03,1.000000e+00
75%,9.420000e+02,3.295000e+03,4.075763e+01,-7.397188e+01,3.293000e+03,4.075725e+01,-7.397208e+01,3.523000e+04,1.989000e+03,1.000000e+00
max,1.499600e+04,3.749000e+03,4.086300e+01,-7.388100e+01,3.749000e+03,4.086300e+01,-7.388100e+01,3.796400e+04,2.003000e+03,2.000000e+00

In [23]:
marchClean['stoptime'].min()

'2019-03-01 00:05:05.5230'

In [24]:
marchClean['stoptime'].max()

'2019-04-01 02:31:37.1140'

In [25]:
marchClean['starttime'].min()

'2019-03-01 00:00:16.0970'

In [26]:
marchClean['starttime'].max()

'2019-03-31 23:59:58.0230'

In [27]:
marchClean['starttime'] = pd.to_datetime(marchClean.starttime)
marchClean.info('starttime')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1325485 entries, 0 to 1327959
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tripduration             1325485 non-null  int64
 1   starttime                1325485 non-null  datetime64[ns]
 2   stoptime                 1325485 non-null  object
 3   start station id         1325475 non-null  float64
 4   start station name       1325475 non-null  object
 5   start station latitude   1325485 non-null  float64
 6   start station longitude  1325485 non-null  float64
 7   end station id           1325475 non-null  float64
 8   end station name         1325475 non-null  object
 9   end station latitude     1325485 non-null  float64
 10  end station longitude    1325485 non-null  float64
 11  bikeid                   1325485 non-null  int64
 12  usertype                 1325485 non-null  object
 13  birth year               1325485 non-null  int64
 14  gender                   1325485 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(4), object(4)
memory usage: 161.8+ MB

In [28]:
marchClean['stoptime'] = pd.to_datetime(marchClean.stoptime)
marchClean.info('stoptime')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1325485 entries, 0 to 1327959
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tripduration             1325485 non-null  int64
 1   starttime                1325485 non-null  datetime64[ns]
 2   stoptime                 1325485 non-null  datetime64[ns]
 3   start station id         1325475 non-null  float64
 4   start station name       1325475 non-null  object
 5   start station latitude   1325485 non-null  float64
 6   start station longitude  1325485 non-null  float64
 7   end station id           1325475 non-null  float64
 8   end station name         1325475 non-null  object
 9   end station latitude     1325485 non-null  float64
 10  end station longitude    1325485 non-null  float64
 11  bikeid                   1325485 non-null  int64
 12  usertype                 1325485 non-null  object
 13  birth year               1325485 non-null  int64
 14  gender                   1325485 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(4), object(3)
memory usage: 161.8+ MB

In [29]:
marchClean.gender[marchClean.gender == 0] = 'unknown'
marchClean.gender[marchClean.gender == 1] = 'male'
marchClean.gender[marchClean.gender == 2] = 'female'
marchClean

C:\Users\roshi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.097,2019-03-01 00:24:39.388,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,male
1,285,2019-03-01 00:00:32.385,2019-03-01 00:05:18.183,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,male
2,686,2019-03-01 00:00:47.797,2019-03-01 00:12:14.309,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,male
3,442,2019-03-01 00:01:01.209,2019-03-01 00:08:23.751,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,female
4,2913,2019-03-01 00:01:09.281,2019-03-01 00:49:42.381,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1327955,351,2019-03-31 23:59:30.585,2019-04-01 00:05:21.785,3747.0,E 84 St & 3 Ave,40.777554,-73.955128,3351.0,E 102 St & 1 Ave,40.786995,-73.941648,37290,Subscriber,1985,male
1327956,1943,2019-03-31 23:59:55.341,2019-04-01 00:32:18.692,450.0,W 49 St & 8 Ave,40.762272,-73.987882,515.0,W 43 St & 10 Ave,40.760094,-73.994618,34220,Subscriber,1987,male
1327957,515,2019-03-31 23:59:50.181,2019-04-01 00:08:25.833,3542.0,Amsterdam Ave & W 119 St,40.808625,-73.959621,3543.0,Morningside Dr & Amsterdam Ave,40.810285,-73.957365,37863,Subscriber,1988,male
1327958,660,2019-03-31 23:59:56.652,2019-04-01 00:10:57.376,3434.0,W 88 St & West End Ave,40.790254,-73.977183,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,36103,Subscriber,1987,male
1327959,132,2019-03-31 23:59:58.023,2019-04-01 00:02:10.592,393.0,E 5 St & Avenue C,40.722992,-73.979955,432.0,E 7 St & Avenue A,40.726218,-73.983799,35621,Subscriber,1973,male

In [36]:
from datetime import datetime as dt
dayOfWeek = marchClean.starttime.dt.day_name()
marchClean['dayOfWeek'] = dayOfWeek
marchClean

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,dayOfWeek
0,1463,2019-03-01 00:00:16.097,2019-03-01 00:24:39.388,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,male,Friday
1,285,2019-03-01 00:00:32.385,2019-03-01 00:05:18.183,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,male,Friday
2,686,2019-03-01 00:00:47.797,2019-03-01 00:12:14.309,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,male,Friday
3,442,2019-03-01 00:01:01.209,2019-03-01 00:08:23.751,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,female,Friday
4,2913,2019-03-01 00:01:09.281,2019-03-01 00:49:42.381,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,male,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1327955,351,2019-03-31 23:59:30.585,2019-04-01 00:05:21.785,3747.0,E 84 St & 3 Ave,40.777554,-73.955128,3351.0,E 102 St & 1 Ave,40.786995,-73.941648,37290,Subscriber,1985,male,Sunday
1327956,1943,2019-03-31 23:59:55.341,2019-04-01 00:32:18.692,450.0,W 49 St & 8 Ave,40.762272,-73.987882,515.0,W 43 St & 10 Ave,40.760094,-73.994618,34220,Subscriber,1987,male,Sunday
1327957,515,2019-03-31 23:59:50.181,2019-04-01 00:08:25.833,3542.0,Amsterdam Ave & W 119 St,40.808625,-73.959621,3543.0,Morningside Dr & Amsterdam Ave,40.810285,-73.957365,37863,Subscriber,1988,male,Sunday
1327958,660,2019-03-31 23:59:56.652,2019-04-01 00:10:57.376,3434.0,W 88 St & West End Ave,40.790254,-73.977183,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,36103,Subscriber,1987,male,Sunday
1327959,132,2019-03-31 23:59:58.023,2019-04-01 00:02:10.592,393.0,E 5 St & Avenue C,40.722992,-73.979955,432.0,E 7 St & Avenue A,40.726218,-73.983799,35621,Subscriber,1973,male,Sunday

In [37]:
#marchClean.to_csv('Clean_Data/marchCBClean.csv', mode = 'w', index=False)

In [38]:
# Import Data
Data_To_Load1 = "Raw_Data/201906-citibike-tripdata.csv"


june_clean = pd.read_csv(Data_To_Load1)

In [39]:
june_clean.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,2.125370e+06,2.125370e+06,2.125370e+06,2.125370e+06,2.125370e+06,2.125370e+06,2.125370e+06,2.125370e+06,2.125370e+06,2.125370e+06
mean,1.109359e+03,1.690656e+03,4.073615e+01,-7.398183e+01,1.687850e+03,4.073586e+01,-7.398195e+01,2.761417e+04,1.980335e+03,1.154746e+00
std,1.387210e+04,1.477027e+03,3.114043e-02,2.030246e-02,1.477561e+03,3.111125e-02,2.040343e-02,6.815822e+03,1.196245e+01,5.637063e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.406860e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,3.950000e+02,3.800000e+02,4.071602e+01,-7.399599e+01,3.800000e+02,4.071582e+01,-7.399612e+01,2.096100e+04,1.969000e+03,1.000000e+00
50%,6.830000e+02,5.170000e+02,4.073588e+01,-7.398516e+01,5.170000e+02,4.073544e+01,-7.398546e+01,2.899600e+04,1.983000e+03,1.000000e+00
75%,1.199000e+03,3.298000e+03,4.075725e+01,-7.397042e+01,3.300000e+03,4.075680e+01,-7.397042e+01,3.301600e+04,1.990000e+03,1.000000e+00
max,3.379585e+06,3.795000e+03,4.081439e+01,-7.390774e+01,3.795000e+03,4.081439e+01,-7.390774e+01,3.993400e+04,2.003000e+03,2.000000e+00

In [41]:
june_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2125370 entries, 0 to 2125369
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(4), int64(6), object(5)
memory usage: 243.2+ MB

In [42]:
june_clean.shape

(2125370, 15)

In [43]:
june_clean.gender.value_counts(dropna=False)

1    1399108
2     527577
0     198685
Name: gender, dtype: int64

In [44]:
june_clean.usertype.value_counts(dropna=False)

Subscriber    1752526
Customer       372844
Name: usertype, dtype: int64

In [45]:
june_clean.bikeid.value_counts(dropna=False)

33968    475
35152    470
34981    452
35030    449
26972    444
        ...
29284      1
16997      1
39718      1
21620      1
29194      1
Name: bikeid, Length: 14319, dtype: int64

In [47]:
june_clean.min()

tripduration                                     61
starttime                  2019-06-01 00:00:01.5000
stoptime                   2019-06-01 00:02:16.3950
start station id                                 72
start station name                 1 Ave & E 110 St
start station latitude                      40.6554
start station longitude                    -74.0254
end station id                                   72
end station name                   1 Ave & E 110 St
end station latitude                        40.6554
end station longitude                      -74.0686
bikeid                                        14529
usertype                                   Customer
birth year                                     1885
gender                                            0
dtype: object

In [48]:
june_clean.max()

tripduration                                3379585
starttime                  2019-06-30 23:59:54.3670
stoptime                   2019-07-15 03:53:26.2840
start station id                               3795
start station name            Yankee Ferry Terminal
start station latitude                      40.8144
start station longitude                    -73.9077
end station id                                 3795
end station name              Yankee Ferry Terminal
end station latitude                        40.8144
end station longitude                      -73.9077
bikeid                                        39934
usertype                                 Subscriber
birth year                                     2003
gender                                            2
dtype: object

In [49]:
june_clean['birth year'].min()

1885

In [50]:
june_clean['tripduration'].median()

683.0

In [51]:
june_clean['birth year'].tail()

2125365    1972
2125366    1981
2125367    1981
2125368    1996
2125369    1967
Name: birth year, dtype: int64

In [52]:
birthyearsort =june_clean.sort_values('birth year', ascending = True)
birthyearsort.head(100)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
35233,1509,2019-06-01 14:19:34.3530,2019-06-01 14:44:44.1820,195,Liberty St & Broadway,40.709056,-74.010434,3711,E 13 St & Avenue A,40.729667,-73.980680,30133,Subscriber,1885,1
212833,1629,2019-06-03 20:04:38.7310,2019-06-03 20:31:48.3840,195,Liberty St & Broadway,40.709056,-74.010434,3486,Schermerhorn St & Bond St,40.688417,-73.984517,20121,Subscriber,1885,1
1229812,1233,2019-06-17 22:26:15.4840,2019-06-17 22:46:48.7100,531,Forsyth St & Broome St,40.718939,-73.992663,3486,Schermerhorn St & Bond St,40.688417,-73.984517,19883,Subscriber,1885,1
379184,965,2019-06-05 21:18:12.6650,2019-06-05 21:34:18.5340,490,8 Ave & W 33 St,40.751551,-73.993934,455,1 Ave & E 44 St,40.750020,-73.969053,31290,Subscriber,1885,0
2048669,1029,2019-06-29 18:56:48.8800,2019-06-29 19:13:58.7550,455,1 Ave & E 44 St,40.750020,-73.969053,3163,Central Park West & W 68 St,40.773407,-73.977825,31197,Subscriber,1885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311207,360,2019-06-19 17:44:38.4540,2019-06-19 17:50:38.5240,3125,45 Rd & 11 St,40.747086,-73.949772,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,35389,Subscriber,1887,0
2105741,1233,2019-06-30 17:45:39.1150,2019-06-30 18:06:12.6590,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,3060,Willoughby Ave & Tompkins Ave,40.694254,-73.946269,38999,Subscriber,1887,0
804695,1709,2019-06-11 20:08:50.1930,2019-06-11 20:37:19.4980,265,Stanton St & Chrystie St,40.722293,-73.991475,3615,44 Dr & 21 St,40.748000,-73.946093,33392,Subscriber,1887,0
1452847,325,2019-06-21 21:41:27.1050,2019-06-21 21:46:52.8190,3354,3 St & Prospect Park West,40.668132,-73.973638,3405,5 St & 6 Ave,40.670484,-73.982090,31035,Subscriber,1887,0
1209749,2204,2019-06-17 18:10:34.5400,2019-06-17 18:47:19.2480,3282,5 Ave & E 88 St,40.783070,-73.959390,3121,Jackson Ave & 46 Rd,40.745248,-73.947333,29974,Subscriber,1887,0

In [53]:
june_clean.loc[june_clean['birth year'] < 1919]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
869,547,2019-06-01 00:36:23.8730,2019-06-01 00:45:31.0840,3298,Warren St & Court St,40.686371,-73.993833,3339,Berkeley Pl & 6 Ave,40.676530,-73.978469,25350,Subscriber,1900,1
6766,403,2019-06-01 08:50:32.9130,2019-06-01 08:57:16.0720,3419,Douglass St & 4 Ave,40.679279,-73.981540,3298,Warren St & Court St,40.686371,-73.993833,25151,Subscriber,1900,1
7435,281,2019-06-01 09:06:09.2000,2019-06-01 09:10:51.1680,481,S 3 St & Bedford Ave,40.712605,-73.962644,3093,N 6 St & Bedford Ave,40.717452,-73.958509,15543,Subscriber,1900,1
9108,407,2019-06-01 09:38:27.5030,2019-06-01 09:45:14.9460,499,Broadway & W 60 St,40.769155,-73.981918,520,W 52 St & 5 Ave,40.759923,-73.976485,30269,Subscriber,1900,1
10315,135,2019-06-01 09:57:10.8430,2019-06-01 09:59:26.1100,3093,N 6 St & Bedford Ave,40.717452,-73.958509,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,26991,Subscriber,1910,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2112224,457,2019-06-30 19:07:58.9700,2019-06-30 19:15:36.8180,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,15770,Subscriber,1893,2
2114508,2050,2019-06-30 19:38:27.8860,2019-06-30 20:12:38.8710,530,11 Ave & W 59 St,40.771497,-73.990460,530,11 Ave & W 59 St,40.771497,-73.990460,19809,Subscriber,1917,1
2115487,1032,2019-06-30 19:52:35.3570,2019-06-30 20:09:48.0040,470,W 20 St & 8 Ave,40.743453,-74.000040,423,W 54 St & 9 Ave,40.765849,-73.986905,29356,Subscriber,1896,1
2118612,322,2019-06-30 20:42:05.1750,2019-06-30 20:47:27.6030,3765,Bushwick Ave & Stagg St,40.709897,-73.940080,3774,Knickerbocker Ave & George St,40.704425,-73.928360,39449,Subscriber,1900,0
2119817,1807,2019-06-30 21:04:30.5670,2019-06-30 21:34:38.5250,3656,E 2 St & Avenue A,40.723077,-73.985836,3776,Central Ave & Starr Street,40.700003,-73.928340,38248,Subscriber,1889,2

In [54]:
juneBY = june_clean.drop(june_clean[june_clean['birth year'] < 1919].index)

In [55]:
juneBY['birth year'].min()

1919

In [56]:
juneBY['birth year'].max()

2003

In [57]:
juneBY.loc[juneBY['tripduration'] > 15000]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
39,47572,2019-06-01 00:01:12.2240,2019-06-01 13:14:04.4010,285,Broadway & E 14 St,40.734546,-73.990741,368,Carmine St & 6 Ave,40.730386,-74.002150,20168,Customer,1992,1
53,57743,2019-06-01 00:01:46.6760,2019-06-01 16:04:10.1610,285,Broadway & E 14 St,40.734546,-73.990741,358,Christopher St & Greenwich St,40.732916,-74.007114,17869,Customer,1993,2
373,32517,2019-06-01 00:13:11.1200,2019-06-01 09:15:08.2420,228,E 48 St & 3 Ave,40.754601,-73.971879,168,W 18 St & 6 Ave,40.739713,-73.994564,30618,Subscriber,1985,1
571,20520,2019-06-01 00:22:11.6850,2019-06-01 06:04:11.8420,507,E 25 St & 2 Ave,40.739126,-73.979738,514,12 Ave & W 40 St,40.760875,-74.002777,32301,Customer,1998,2
750,138802,2019-06-01 00:30:33.8840,2019-06-02 15:03:56.5140,3565,36 Ave & 10 St,40.761438,-73.941126,3593,31 St & Broadway,40.761584,-73.925921,28485,Subscriber,1987,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2123855,31636,2019-06-30 22:48:37.1200,2019-07-01 07:35:53.2680,3150,E 85 St & York Ave,40.775369,-73.948034,3307,West End Ave & W 94 St,40.794165,-73.974124,30443,Customer,1996,1
2124409,42340,2019-06-30 23:09:33.3950,2019-07-01 10:55:13.4400,3092,Berry St & N 8 St,40.719009,-73.958525,3087,Metropolitan Ave & Meeker Ave,40.714133,-73.952344,17279,Customer,1986,1
2124443,79370,2019-06-30 23:10:51.6660,2019-07-01 21:13:42.6240,508,W 46 St & 11 Ave,40.763414,-73.996674,482,W 15 St & 7 Ave,40.739355,-73.999318,32921,Customer,1986,1
2124545,139758,2019-06-30 23:14:54.1190,2019-07-02 14:04:12.2520,3709,W 15 St & 6 Ave,40.738046,-73.996430,3540,Morningside Ave & W 123 St,40.810000,-73.955151,29778,Subscriber,1992,1
2124583,32070,2019-06-30 23:16:49.0090,2019-07-01 08:11:19.1100,390,Duffield St & Willoughby St,40.692216,-73.984284,3344,Pioneer St & Van Brunt St,40.679043,-74.011169,26926,Subscriber,1981,1

In [58]:
juneClean = juneBY.drop(juneBY[juneBY['tripduration'] > 15000].index)
juneClean.shape

(2121743, 15)

In [59]:
juneClean['tripduration'].max()

14997

In [60]:
juneClean.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,2.121743e+06,2.121743e+06,2.121743e+06,2.121743e+06,2.121743e+06,2.121743e+06,2.121743e+06,2.121743e+06,2.121743e+06,2.121743e+06
mean,9.090459e+02,1.690141e+03,4.073616e+01,-7.398184e+01,1.687152e+03,4.073587e+01,-7.398196e+01,2.761508e+04,1.980375e+03,1.155318e+00
std,8.303031e+02,1.476950e+03,3.112717e-02,2.029590e-02,1.477463e+03,3.109602e-02,2.039649e-02,6.815740e+03,1.183566e+01,5.632124e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.406391e+01,1.452900e+04,1.919000e+03,0.000000e+00
25%,3.940000e+02,3.800000e+02,4.071602e+01,-7.399599e+01,3.800000e+02,4.071582e+01,-7.399612e+01,2.096200e+04,1.969000e+03,1.000000e+00
50%,6.830000e+02,5.170000e+02,4.073588e+01,-7.398516e+01,5.170000e+02,4.073544e+01,-7.398562e+01,2.899600e+04,1.983000e+03,1.000000e+00
75%,1.197000e+03,3.298000e+03,4.075725e+01,-7.397042e+01,3.300000e+03,4.075680e+01,-7.397042e+01,3.301700e+04,1.990000e+03,1.000000e+00
max,1.499700e+04,3.795000e+03,4.081439e+01,-7.390774e+01,3.795000e+03,4.081439e+01,-7.390774e+01,3.993400e+04,2.003000e+03,2.000000e+00

In [61]:
juneClean['starttime'] = pd.to_datetime(juneClean.starttime)
juneClean.info('starttime')
juneClean['stoptime'] = pd.to_datetime(juneClean.stoptime)
juneClean.info('stoptime')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2121743 entries, 0 to 2125369
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(4)
memory usage: 259.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2121743 entries, 0 to 2125369
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 datetime64[ns]
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 259.0+ MB

In [62]:
juneClean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2121743 entries, 0 to 2125369
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 datetime64[ns]
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 259.0+ MB

In [63]:
juneClean.gender[juneClean.gender == 0] = 'unknown'
juneClean.gender[juneClean.gender == 1] = 'male'
juneClean.gender[juneClean.gender == 2] = 'female'
juneClean

C:\Users\roshi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2019-06-01 00:00:01.500,2019-06-01 00:05:31.760,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,male
1,830,2019-06-01 00:00:04.240,2019-06-01 00:13:55.147,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,female
2,380,2019-06-01 00:00:06.019,2019-06-01 00:06:26.779,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,female
3,1155,2019-06-01 00:00:06.776,2019-06-01 00:19:22.538,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,male
4,1055,2019-06-01 00:00:07.520,2019-06-01 00:17:42.558,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125365,232,2019-06-30 23:59:32.892,2019-07-01 00:03:25.631,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,25779,Subscriber,1972,male
2125366,477,2019-06-30 23:59:33.699,2019-07-01 00:07:31.044,445,E 10 St & Avenue A,40.727408,-73.981420,3737,Stanton St & Norfolk St,40.720747,-73.986274,39522,Subscriber,1981,female
2125367,300,2019-06-30 23:59:47.405,2019-07-01 00:04:48.185,3307,West End Ave & W 94 St,40.794165,-73.974124,3320,Central Park West & W 100 St,40.794067,-73.962868,26730,Subscriber,1981,male
2125368,906,2019-06-30 23:59:51.598,2019-07-01 00:14:58.321,402,Broadway & E 22 St,40.740343,-73.989551,400,Pitt St & Stanton St,40.719261,-73.981780,38286,Subscriber,1996,male
2125369,1270,2019-06-30 23:59:54.367,2019-07-01 00:21:05.275,3788,E 12 St & 4 Av,40.732690,-73.989740,326,E 11 St & 1 Ave,40.729538,-73.984267,38742,Subscriber,1967,male

In [65]:
dayOfWeek = juneClean.starttime.dt.day_name()
juneClean['dayOfWeek'] = dayOfWeek
juneClean

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,dayOfWeek
0,330,2019-06-01 00:00:01.500,2019-06-01 00:05:31.760,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,male,Saturday
1,830,2019-06-01 00:00:04.240,2019-06-01 00:13:55.147,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,female,Saturday
2,380,2019-06-01 00:00:06.019,2019-06-01 00:06:26.779,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,female,Saturday
3,1155,2019-06-01 00:00:06.776,2019-06-01 00:19:22.538,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,male,Saturday
4,1055,2019-06-01 00:00:07.520,2019-06-01 00:17:42.558,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,male,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125365,232,2019-06-30 23:59:32.892,2019-07-01 00:03:25.631,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,25779,Subscriber,1972,male,Sunday
2125366,477,2019-06-30 23:59:33.699,2019-07-01 00:07:31.044,445,E 10 St & Avenue A,40.727408,-73.981420,3737,Stanton St & Norfolk St,40.720747,-73.986274,39522,Subscriber,1981,female,Sunday
2125367,300,2019-06-30 23:59:47.405,2019-07-01 00:04:48.185,3307,West End Ave & W 94 St,40.794165,-73.974124,3320,Central Park West & W 100 St,40.794067,-73.962868,26730,Subscriber,1981,male,Sunday
2125368,906,2019-06-30 23:59:51.598,2019-07-01 00:14:58.321,402,Broadway & E 22 St,40.740343,-73.989551,400,Pitt St & Stanton St,40.719261,-73.981780,38286,Subscriber,1996,male,Sunday
2125369,1270,2019-06-30 23:59:54.367,2019-07-01 00:21:05.275,3788,E 12 St & 4 Av,40.732690,-73.989740,326,E 11 St & 1 Ave,40.729538,-73.984267,38742,Subscriber,1967,male,Sunday

In [66]:
juneClean['starttime'].max()

Timestamp('2019-06-30 23:59:54.367000')

In [67]:
juneClean['starttime'].min()

Timestamp('2019-06-01 00:00:01.500000')

In [68]:
juneClean['stoptime'].max()

Timestamp('2019-07-01 01:54:35.895000')

In [69]:
juneClean['stoptime'].min()

Timestamp('2019-06-01 00:02:16.395000')

In [70]:
#juneClean.to_csv('Clean_Data/juneCBClean.csv', mode = 'w', index=False)

In [71]:
# Import Data
Data_To_Load2 = "Raw_Data/201909-citibike-tripdata.csv"

In [72]:
sept_clean = pd.read_csv(Data_To_Load2)

In [73]:
sept_clean.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,2.444900e+06,2.444900e+06,2.444900e+06,2.444900e+06,2.444900e+06,2.444900e+06,2.444900e+06,2.444900e+06,2.444900e+06,2.444900e+06
mean,1.012112e+03,1.664439e+03,4.073733e+01,-7.398215e+01,1.657267e+03,4.073696e+01,-7.398235e+01,3.061506e+04,1.980811e+03,1.172144e+00
std,9.710675e+03,1.483324e+03,3.021870e-02,2.010678e-02,1.483102e+03,3.013548e-02,2.018163e-02,8.095836e+03,1.208790e+01,5.576846e-01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.408364e+01,1.452900e+04,1.874000e+03,0.000000e+00
25%,3.920000e+02,3.790000e+02,4.071755e+01,-7.399596e+01,3.770000e+02,4.071755e+01,-7.399645e+01,2.557600e+04,1.970000e+03,1.000000e+00
50%,6.680000e+02,5.090000e+02,4.073705e+01,-7.398584e+01,5.080000e+02,4.073653e+01,-7.398621e+01,3.159100e+04,1.984000e+03,1.000000e+00
75%,1.156000e+03,3.296000e+03,4.075725e+01,-7.397121e+01,3.298000e+03,4.075680e+01,-7.397121e+01,3.863000e+04,1.991000e+03,2.000000e+00
max,2.904620e+06,3.858000e+03,4.081439e+01,-7.390774e+01,3.858000e+03,4.081439e+01,-7.390774e+01,4.204600e+04,2.003000e+03,2.000000e+00

In [74]:
sept_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2444900 entries, 0 to 2444899
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(4), int64(6), object(5)
memory usage: 279.8+ MB

In [75]:
sept_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2444900 entries, 0 to 2444899
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(4), int64(6), object(5)
memory usage: 279.8+ MB

In [76]:
sept_clean.shape

(2444900, 15)

In [77]:
sept_clean.gender.value_counts(dropna=False)

1    1612056
2     626859
0     205985
Name: gender, dtype: int64

In [78]:
sept_clean.usertype.value_counts(dropna=False)

Subscriber    2010493
Customer       434407
Name: usertype, dtype: int64

In [79]:
sept_clean.bikeid.value_counts(dropna=False)

39553    431
39899    422
39339    421
38281    411
34094    411
        ...
18167      1
16538      1
28034      1
39993      1
28550      1
Name: bikeid, Length: 15875, dtype: int64

In [80]:
sept_clean.min()

tripduration                                     61
starttime                  2019-09-01 00:00:01.9580
stoptime                   2019-09-01 00:03:21.5970
start station id                                 72
start station name                 1 Ave & E 110 St
start station latitude                      40.6554
start station longitude                    -74.0254
end station id                                   72
end station name                   1 Ave & E 110 St
end station latitude                        40.6554
end station longitude                      -74.0836
bikeid                                        14529
usertype                                   Customer
birth year                                     1874
gender                                            0
dtype: object

In [81]:
sept_clean.max()

tripduration                                2904620
starttime                  2019-09-30 23:59:55.3740
stoptime                   2019-10-11 15:16:53.3070
start station id                               3858
start station name            Yankee Ferry Terminal
start station latitude                      40.8144
start station longitude                    -73.9077
end station id                                 3858
end station name                            York St
end station latitude                        40.8144
end station longitude                      -73.9077
bikeid                                        42046
usertype                                 Subscriber
birth year                                     2003
gender                                            2
dtype: object

In [82]:
sept_clean['birth year'].min()

1874

In [83]:
sept_clean['tripduration'].median()

668.0

In [84]:
sept_clean['birth year'].head()

0    1968
1    1969
2    1969
3    1990
4    1992
Name: birth year, dtype: int64

In [85]:
birthyearsort = sept_clean.sort_values('birth year', ascending = True)
birthyearsort.head(100)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
2219488,806,2019-09-28 09:20:47.9630,2019-09-28 09:34:14.4340,514,12 Ave & W 40 St,40.760875,-74.002777,3178,Riverside Dr & W 78 St,40.784145,-73.983625,21074,Subscriber,1874,1
2352494,683,2019-09-29 18:16:18.1750,2019-09-29 18:27:41.2780,79,Franklin St & W Broadway,40.719116,-74.006667,403,E 2 St & 2 Ave,40.725029,-73.990697,39550,Subscriber,1874,1
528808,522,2019-09-08 14:52:13.8920,2019-09-08 15:00:56.2700,455,1 Ave & E 44 St,40.750020,-73.969053,305,E 58 St & 3 Ave,40.760958,-73.967245,19262,Subscriber,1885,0
13344,431,2019-09-01 11:33:49.8930,2019-09-01 11:41:01.1360,3235,E 41 St & Madison Ave,40.752165,-73.979922,2017,E 43 St & 2 Ave,40.750224,-73.971214,39924,Subscriber,1885,0
2158447,907,2019-09-27 13:58:41.5020,2019-09-27 14:13:49.2110,523,W 38 St & 8 Ave,40.754666,-73.991382,2017,E 43 St & 2 Ave,40.750224,-73.971214,40066,Subscriber,1885,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216887,1550,2019-09-04 12:35:56.8320,2019-09-04 13:01:47.1640,3064,Myrtle Ave & Lewis Ave,40.696820,-73.937569,3377,Carroll St & Bond St,40.678612,-73.990373,30340,Subscriber,1888,1
1821015,2133,2019-09-23 18:04:05.5380,2019-09-23 18:39:39.5310,402,Broadway & E 22 St,40.740343,-73.989551,3810,Central Park West & W 82 St,40.782593,-73.971211,30804,Subscriber,1888,1
1664200,450,2019-09-21 18:48:03.6250,2019-09-21 18:55:33.8040,3168,Central Park West & W 85 St,40.784727,-73.969617,3167,Amsterdam Ave & W 73 St,40.779668,-73.980930,18910,Subscriber,1888,1
218660,453,2019-09-04 13:05:30.5220,2019-09-04 13:13:03.7300,402,Broadway & E 22 St,40.740343,-73.989551,3799,6 Ave & W 34 St,40.749640,-73.988050,27059,Subscriber,1888,1
1067062,228,2019-09-15 08:47:08.9260,2019-09-15 08:50:57.7740,453,W 22 St & 8 Ave,40.744751,-73.999154,3686,Gansevoort St & Hudson St,40.739448,-74.005070,17567,Subscriber,1888,1

In [87]:
sept_clean.loc[sept_clean['birth year'] < 1919]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1367,333,2019-09-01 01:21:03.5940,2019-09-01 01:26:37.5420,388,W 26 St & 10 Ave,40.749718,-74.002950,442,W 27 St & 7 Ave,40.746647,-73.993915,17437,Customer,1917,1
2810,271,2019-09-01 05:41:40.4560,2019-09-01 05:46:12.1860,368,Carmine St & 6 Ave,40.730386,-74.002150,3256,Pier 40 - Hudson River Park,40.727714,-74.011296,27050,Subscriber,1900,2
3325,738,2019-09-01 07:18:58.4990,2019-09-01 07:31:16.6630,3377,Carroll St & Bond St,40.678612,-73.990373,3392,Commerce St & Van Brunt St,40.681212,-74.008609,29160,Subscriber,1888,1
4263,1012,2019-09-01 08:20:37.1920,2019-09-01 08:37:29.2230,3656,E 2 St & Avenue A,40.723077,-73.985836,3674,Jay St & York St,40.701403,-73.986727,39924,Subscriber,1889,2
4973,288,2019-09-01 08:49:22.4440,2019-09-01 08:54:10.6440,453,W 22 St & 8 Ave,40.744751,-73.999154,3686,Gansevoort St & Hudson St,40.739448,-74.005070,33271,Subscriber,1888,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2429929,87,2019-09-30 18:48:57.2970,2019-09-30 18:50:25.1470,3416,7 Ave & Park Pl,40.677615,-73.973243,3346,Berkeley Pl & 7 Ave,40.675147,-73.975232,41290,Subscriber,1889,1
2437933,389,2019-09-30 20:24:58.8440,2019-09-30 20:31:28.8160,3656,E 2 St & Avenue A,40.723077,-73.985836,151,Cleveland Pl & Spring St,40.722104,-73.997249,40937,Subscriber,1889,2
2439495,376,2019-09-30 20:52:21.7890,2019-09-30 20:58:38.0120,477,W 41 St & 8 Ave,40.756405,-73.990026,519,Pershing Square North,40.751873,-73.977706,38723,Subscriber,1900,1
2440866,544,2019-09-30 21:22:09.9110,2019-09-30 21:31:14.4450,303,Mercer St & Spring St,40.723627,-73.999496,350,Clinton St & Grand St,40.715595,-73.987030,26723,Subscriber,1889,2
2442539,291,2019-09-30 22:05:46.2820,2019-09-30 22:10:38.1970,311,Norfolk St & Broome St,40.717227,-73.988021,3656,E 2 St & Avenue A,40.723077,-73.985836,41498,Subscriber,1889,2

In [88]:
septBY = sept_clean.drop(sept_clean[sept_clean['birth year'] < 1919].index)

In [89]:
septBY['birth year'].min()

1919

In [90]:
septBY['tripduration'].max()

2904620

In [91]:
septBY.loc[septBY['tripduration'] > 15000]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
321,32174,2019-09-01 00:14:54.0990,2019-09-01 09:11:08.2680,3140,1 Ave & E 78 St,40.771404,-73.953517,3305,E 91 St & 2 Ave,40.781122,-73.949656,27636,Customer,1969,0
359,34726,2019-09-01 00:16:54.1330,2019-09-01 09:55:40.9900,3127,9 St & 44 Rd,40.749660,-73.952100,3119,Vernon Blvd & 50 Ave,40.742327,-73.954117,32081,Customer,1969,0
379,49037,2019-09-01 00:17:50.7220,2019-09-01 13:55:07.8210,459,W 20 St & 11 Ave,40.746745,-74.007756,3461,Murray St & Greenwich St,40.714852,-74.011223,16557,Subscriber,1980,1
696,48578,2019-09-01 00:34:21.9540,2019-09-01 14:04:00.7990,485,W 37 St & 5 Ave,40.750380,-73.983390,474,5 Ave & E 29 St,40.745168,-73.986831,39460,Customer,1969,0
1062,32953,2019-09-01 00:58:53.8530,2019-09-01 10:08:07.0050,501,FDR Drive & E 35 St,40.744219,-73.971212,315,South St & Gouverneur Ln,40.703554,-74.006702,16763,Customer,1985,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2442651,19827,2019-09-30 22:08:48.6980,2019-10-01 03:39:16.2070,426,West St & Chambers St,40.717548,-74.013221,259,South St & Whitehall St,40.701221,-74.012342,14835,Subscriber,1990,1
2443911,55077,2019-09-30 22:55:21.6870,2019-10-01 14:13:19.4710,3689,W 104 St & Amsterdam Ave,40.799041,-73.966495,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,39883,Customer,1969,0
2444429,143347,2019-09-30 23:23:46.4600,2019-10-02 15:12:53.8200,3125,45 Rd & 11 St,40.747086,-73.949772,3560,28 St & 38 Ave,40.754876,-73.934326,28457,Subscriber,1989,1
2444773,29686,2019-09-30 23:48:38.5250,2019-10-01 08:03:25.1500,369,Washington Pl & 6 Ave,40.732241,-74.000264,415,Pearl St & Hanover Square,40.704718,-74.009260,34389,Customer,1984,2
2444801,22326,2019-09-30 23:50:29.6210,2019-10-01 06:02:36.5860,402,Broadway & E 22 St,40.740343,-73.989551,3166,Riverside Dr & W 72 St,40.780578,-73.985624,33010,Subscriber,1957,2

In [92]:
septClean = septBY.drop(septBY[septBY['tripduration'] > 15000].index)

In [93]:
septClean['tripduration'].max()

15000

In [94]:
septClean['starttime'] = pd.to_datetime(septClean.starttime)
septClean.info('starttime')
septClean['stoptime'] = pd.to_datetime(septClean.stoptime)
septClean.info('stoptime')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2441412 entries, 0 to 2444899
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(4)
memory usage: 298.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2441412 entries, 0 to 2444899
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 datetime64[ns]
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 298.0+ MB

In [95]:
septClean.gender[septClean.gender == 0] = 'unknown'
septClean.gender[septClean.gender == 1] = 'male'
septClean.gender[septClean.gender == 2] = 'female'
septClean

C:\Users\roshi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,327,2019-09-01 00:00:01.958,2019-09-01 00:05:29.341,3733,Avenue C & E 18 St,40.730563,-73.973984,504,1 Ave & E 16 St,40.732219,-73.981656,39213,Subscriber,1968,male
1,1145,2019-09-01 00:00:04.143,2019-09-01 00:19:09.836,3329,Degraw St & Smith St,40.682915,-73.993182,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,21257,Customer,1969,unknown
2,1293,2019-09-01 00:00:07.309,2019-09-01 00:21:40.758,3168,Central Park West & W 85 St,40.784727,-73.969617,423,W 54 St & 9 Ave,40.765849,-73.986905,15242,Customer,1969,unknown
3,1753,2019-09-01 00:00:08.064,2019-09-01 00:29:21.504,3299,E 98 St & Park Ave,40.788130,-73.952060,3160,Central Park West & W 76 St,40.778968,-73.973747,38760,Subscriber,1990,male
4,613,2019-09-01 00:00:12.851,2019-09-01 00:10:26.185,486,Broadway & W 29 St,40.746201,-73.988557,478,11 Ave & W 41 St,40.760301,-73.998842,32094,Subscriber,1992,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2444895,1764,2019-09-30 23:59:22.767,2019-10-01 00:28:47.318,3314,W 95 St & Broadway,40.793770,-73.971888,3161,W 76 St & Columbus Ave,40.780184,-73.977285,41516,Customer,1995,male
2444896,378,2019-09-30 23:59:27.927,2019-10-01 00:05:46.570,316,Fulton St & William St,40.709560,-74.006536,327,Vesey Pl & River Terrace,40.715338,-74.016584,31124,Subscriber,1959,female
2444897,561,2019-09-30 23:59:29.145,2019-10-01 00:08:50.807,3260,Mercer St & Bleecker St,40.727064,-73.996621,393,E 5 St & Avenue C,40.722992,-73.979955,30285,Customer,1998,male
2444898,311,2019-09-30 23:59:42.252,2019-10-01 00:04:54.232,3746,6 Ave & Broome St,40.724308,-74.004730,3435,Grand St & Elizabeth St,40.718822,-73.995960,38290,Subscriber,1989,male
2444899,1500,2019-09-30 23:59:55.374,2019-10-01 00:24:55.840,331,Pike St & Monroe St,40.711731,-73.991930,2012,E 27 St & 1 Ave,40.739445,-73.976806,34013,Customer,1969,unknown

In [96]:
dayOfWeek = marchClean.starttime.dt.day_name()
septClean['dayOfWeek'] = dayOfWeek
septClean

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,dayOfWeek
0,327,2019-09-01 00:00:01.958,2019-09-01 00:05:29.341,3733,Avenue C & E 18 St,40.730563,-73.973984,504,1 Ave & E 16 St,40.732219,-73.981656,39213,Subscriber,1968,male,Friday
1,1145,2019-09-01 00:00:04.143,2019-09-01 00:19:09.836,3329,Degraw St & Smith St,40.682915,-73.993182,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,21257,Customer,1969,unknown,Friday
2,1293,2019-09-01 00:00:07.309,2019-09-01 00:21:40.758,3168,Central Park West & W 85 St,40.784727,-73.969617,423,W 54 St & 9 Ave,40.765849,-73.986905,15242,Customer,1969,unknown,Friday
3,1753,2019-09-01 00:00:08.064,2019-09-01 00:29:21.504,3299,E 98 St & Park Ave,40.788130,-73.952060,3160,Central Park West & W 76 St,40.778968,-73.973747,38760,Subscriber,1990,male,Friday
4,613,2019-09-01 00:00:12.851,2019-09-01 00:10:26.185,486,Broadway & W 29 St,40.746201,-73.988557,478,11 Ave & W 41 St,40.760301,-73.998842,32094,Subscriber,1992,male,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2444895,1764,2019-09-30 23:59:22.767,2019-10-01 00:28:47.318,3314,W 95 St & Broadway,40.793770,-73.971888,3161,W 76 St & Columbus Ave,40.780184,-73.977285,41516,Customer,1995,male,NaN
2444896,378,2019-09-30 23:59:27.927,2019-10-01 00:05:46.570,316,Fulton St & William St,40.709560,-74.006536,327,Vesey Pl & River Terrace,40.715338,-74.016584,31124,Subscriber,1959,female,NaN
2444897,561,2019-09-30 23:59:29.145,2019-10-01 00:08:50.807,3260,Mercer St & Bleecker St,40.727064,-73.996621,393,E 5 St & Avenue C,40.722992,-73.979955,30285,Customer,1998,male,NaN
2444898,311,2019-09-30 23:59:42.252,2019-10-01 00:04:54.232,3746,6 Ave & Broome St,40.724308,-74.004730,3435,Grand St & Elizabeth St,40.718822,-73.995960,38290,Subscriber,1989,male,NaN
2444899,1500,2019-09-30 23:59:55.374,2019-10-01 00:24:55.840,331,Pike St & Monroe St,40.711731,-73.991930,2012,E 27 St & 1 Ave,40.739445,-73.976806,34013,Customer,1969,unknown,NaN

In [97]:
septClean.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year
count,2.441412e+06,2.441412e+06,2.441412e+06,2.441412e+06,2.441412e+06,2.441412e+06,2.441412e+06,2.441412e+06,2.441412e+06
mean,8.817113e+02,1.664173e+03,4.073734e+01,-7.398215e+01,1.656807e+03,4.073697e+01,-7.398235e+01,3.061639e+04,1.980848e+03
std,7.921217e+02,1.483280e+03,3.021032e-02,2.010330e-02,1.483018e+03,3.012596e-02,2.017670e-02,8.095568e+03,1.196719e+01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.405570e+01,1.452900e+04,1.919000e+03
25%,3.920000e+02,3.790000e+02,4.071755e+01,-7.399596e+01,3.770000e+02,4.071755e+01,-7.399645e+01,2.557700e+04,1.970000e+03
50%,6.680000e+02,5.090000e+02,4.073705e+01,-7.398584e+01,5.080000e+02,4.073653e+01,-7.398621e+01,3.159300e+04,1.984000e+03
75%,1.154000e+03,3.296000e+03,4.075725e+01,-7.397121e+01,3.297000e+03,4.075680e+01,-7.397121e+01,3.863000e+04,1.991000e+03
max,1.500000e+04,3.858000e+03,4.081439e+01,-7.390774e+01,3.858000e+03,4.081439e+01,-7.390774e+01,4.204600e+04,2.003000e+03

In [98]:
septClean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2441412 entries, 0 to 2444899
Data columns (total 16 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 datetime64[ns]
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   object
 15  dayOfWeek                object
dtypes: datetime64[ns](2), float64(4), int64(5), object(5)
memory usage: 316.7+ MB

In [99]:
septClean['starttime'].min()

Timestamp('2019-09-01 00:00:01.958000')

In [100]:
septClean['starttime'].max()

Timestamp('2019-09-30 23:59:55.374000')

In [101]:
septClean['stoptime'].min()

Timestamp('2019-09-01 00:03:21.597000')

In [102]:
septClean['stoptime'].max()

Timestamp('2019-10-01 03:18:48.384000')

In [103]:
#septClean.to_csv('Clean_Data/septCBClean.csv', mode = 'w',  index=False)

In [105]:
# Import Data
Data_To_Load3 = "Raw_Data/201912-citibike-tripdata.csv"

In [106]:
dec_clean = pd.read_csv(Data_To_Load3)

In [108]:
dec_clean.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,9.552100e+05,955210.000000,955210.000000,955210.000000,955210.000000,955210.000000,955210.000000,955210.000000,955210.000000,955210.000000
mean,8.308397e+02,1666.618973,40.737843,-73.981574,1646.799030,40.737543,-73.981978,32915.938365,1979.448958,1.174272
std,1.078565e+04,1492.957236,0.029825,0.019196,1490.930913,0.029444,0.019256,7997.229634,12.604304,0.491035
min,6.100000e+01,72.000000,40.655400,-74.017134,72.000000,40.655400,-74.063913,14529.000000,1885.000000,0.000000
25%,3.200000e+02,380.000000,40.719009,-73.994224,379.000000,40.719009,-73.994618,28716.000000,1969.000000,1.000000
50%,5.220000e+02,509.000000,40.739017,-73.984706,507.000000,40.738274,-73.985417,34101.000000,1982.000000,1.000000
75%,8.760000e+02,3311.000000,40.757246,-73.972095,3307.000000,40.756604,-73.973243,39839.000000,1990.000000,1.000000
max,3.304262e+06,3911.000000,40.818299,-73.897950,3911.000000,40.818299,-73.897950,42046.000000,2003.000000,2.000000

In [109]:
dec_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 955210 entries, 0 to 955209
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             955210 non-null  int64
 1   starttime                955210 non-null  object
 2   stoptime                 955210 non-null  object
 3   start station id         955210 non-null  int64
 4   start station name       955210 non-null  object
 5   start station latitude   955210 non-null  float64
 6   start station longitude  955210 non-null  float64
 7   end station id           955210 non-null  int64
 8   end station name         955210 non-null  object
 9   end station latitude     955210 non-null  float64
 10  end station longitude    955210 non-null  float64
 11  bikeid                   955210 non-null  int64
 12  usertype                 955210 non-null  object
 13  birth year               955210 non-null  int64
 14  gender                   955210 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 109.3+ MB

In [110]:
dec_clean.shape

(955210, 15)

In [111]:
dec_clean.gender.value_counts(dropna=False)

1    695884
2    212896
0     46430
Name: gender, dtype: int64

In [112]:
dec_clean.usertype.value_counts(dropna=False)

Subscriber    877585
Customer       77625
Name: usertype, dtype: int64

In [113]:
dec_clean.bikeid.value_counts(dropna=False)

38828    219
39123    208
40061    207
38249    205
38573    204
        ...
17515      1
25676      1
24978      1
15942      1
16376      1
Name: bikeid, Length: 13816, dtype: int64

In [114]:
dec_clean.min()

tripduration                                     61
starttime                  2019-12-01 00:00:05.5640
stoptime                   2019-12-01 00:04:04.0330
start station id                                 72
start station name                 1 Ave & E 110 St
start station latitude                      40.6554
start station longitude                    -74.0171
end station id                                   72
end station name                   1 Ave & E 110 St
end station latitude                        40.6554
end station longitude                      -74.0639
bikeid                                        14529
usertype                                   Customer
birth year                                     1885
gender                                            0
dtype: object

In [115]:
dec_clean.max()

tripduration                                    3304262
starttime                      2019-12-31 23:59:55.2960
stoptime                       2020-01-17 20:00:05.0820
start station id                                   3911
start station name         Wythe Ave & Metropolitan Ave
start station latitude                          40.8183
start station longitude                        -73.8979
end station id                                     3911
end station name           Wythe Ave & Metropolitan Ave
end station latitude                            40.8183
end station longitude                          -73.8979
bikeid                                            42046
usertype                                     Subscriber
birth year                                         2003
gender                                                2
dtype: object

In [116]:
dec_clean['birth year'].min()

1885

In [117]:
dec_clean['tripduration'].median()

522.0

In [118]:
dec_clean['birth year'].head()

0    1970
1    1999
2    1997
3    1995
4    1961
Name: birth year, dtype: int64

In [119]:
birthyearsort = dec_clean.sort_values('birth year', ascending = True)
birthyearsort.head(100)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
806347,787,2019-12-25 19:54:31.9740,2019-12-25 20:07:39.5360,492,W 33 St & 7 Ave,40.750200,-73.990931,455,1 Ave & E 44 St,40.750020,-73.969053,41569,Subscriber,1885,0
512061,280,2019-12-15 17:04:15.1430,2019-12-15 17:08:55.2900,3306,10 St & 7 Ave,40.666208,-73.981999,3423,West Drive & Prospect Park West,40.661063,-73.979453,30153,Subscriber,1886,1
183416,448,2019-12-06 11:47:27.6690,2019-12-06 11:54:56.4820,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3423,West Drive & Prospect Park West,40.661063,-73.979453,21007,Subscriber,1886,1
518251,897,2019-12-15 20:22:39.2950,2019-12-15 20:37:37.1320,243,Fulton St & Rockwell Pl,40.688410,-73.979458,436,Hancock St & Bedford Ave,40.682166,-73.953990,16773,Subscriber,1886,1
241296,379,2019-12-07 17:03:00.7810,2019-12-07 17:09:20.3280,436,Hancock St & Bedford Ave,40.682166,-73.953990,3755,DeKalb Ave & Franklin Ave,40.690648,-73.957462,16232,Subscriber,1886,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
812223,448,2019-12-26 09:35:41.9570,2019-12-26 09:43:10.6960,3402,Court St & State St,40.690238,-73.992031,391,Clark St & Henry St,40.697601,-73.993446,39721,Subscriber,1888,1
757283,1797,2019-12-23 16:54:40.4370,2019-12-23 17:24:38.0920,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,3860,Wilson Ave & Troutman St,40.701660,-73.927540,17859,Subscriber,1888,0
335995,431,2019-12-10 19:41:44.1320,2019-12-10 19:48:56.0580,358,Christopher St & Greenwich St,40.732916,-74.007114,453,W 22 St & 8 Ave,40.744751,-73.999154,18040,Subscriber,1888,1
660719,1374,2019-12-20 11:10:28.5210,2019-12-20 11:33:23.3460,3860,Wilson Ave & Troutman St,40.701660,-73.927540,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,15632,Subscriber,1888,0
815244,995,2019-12-26 11:54:51.1550,2019-12-26 12:11:26.4680,3860,Wilson Ave & Troutman St,40.701660,-73.927540,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,38103,Subscriber,1888,0

In [120]:
dec_clean.loc[dec_clean['birth year'] < 1919]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
2090,207,2019-12-01 08:52:21.7030,2019-12-01 08:55:48.9840,453,W 22 St & 8 Ave,40.744751,-73.999154,3472,W 15 St & 10 Ave,40.742754,-74.007474,17164,Subscriber,1888,1
4295,784,2019-12-01 10:43:39.1730,2019-12-01 10:56:43.4830,3711,E 13 St & Avenue A,40.729667,-73.980680,303,Mercer St & Spring St,40.723627,-73.999496,35052,Subscriber,1890,2
4539,602,2019-12-01 10:53:06.6620,2019-12-01 11:03:09.3720,525,W 34 St & 11 Ave,40.755942,-74.002116,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,40068,Subscriber,1910,1
5161,1247,2019-12-01 11:20:19.7540,2019-12-01 11:41:07.2610,3616,Steinway St & 28 Ave,40.765625,-73.913669,3602,31 Ave & 34 St,40.763154,-73.920827,39468,Subscriber,1897,0
6414,344,2019-12-01 12:32:04.6430,2019-12-01 12:37:48.7690,3810,Central Park West & W 82 St,40.782593,-73.971211,3167,Amsterdam Ave & W 73 St,40.779668,-73.980930,27151,Subscriber,1888,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930483,1796,2019-12-31 10:30:47.3530,2019-12-31 11:00:44.3290,3810,Central Park West & W 82 St,40.782593,-73.971211,402,Broadway & E 22 St,40.740343,-73.989551,27689,Subscriber,1888,1
935677,1090,2019-12-31 12:52:49.6640,2019-12-31 13:11:00.1480,3860,Wilson Ave & Troutman St,40.701660,-73.927540,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,31629,Subscriber,1888,0
937584,1815,2019-12-31 13:34:57.9940,2019-12-31 14:05:13.7750,402,Broadway & E 22 St,40.740343,-73.989551,3171,Amsterdam Ave & W 82 St,40.785247,-73.976673,28567,Subscriber,1888,1
942513,311,2019-12-31 15:12:27.3740,2019-12-31 15:17:38.9630,487,E 20 St & FDR Drive,40.733143,-73.975739,2012,E 27 St & 1 Ave,40.739445,-73.976806,16889,Subscriber,1900,1
953109,277,2019-12-31 20:09:02.3220,2019-12-31 20:13:39.4030,453,W 22 St & 8 Ave,40.744751,-73.999154,489,10 Ave & W 28 St,40.750664,-74.001768,40971,Subscriber,1888,1

In [121]:
decBY = dec_clean.drop(dec_clean[dec_clean['birth year'] < 1919].index)

In [122]:
decBY['birth year'].min()

1919

In [123]:
decBY['tripduration'].max()

3304262

In [124]:
decBY.loc[decBY['tripduration'] > 15000]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
99,55542,2019-12-01 00:13:55.4760,2019-12-01 15:39:38.2420,268,Howard St & Centre St,40.719105,-73.999733,293,Lafayette St & E 8 St,40.730207,-73.991026,38380,Subscriber,1993,1
345,297891,2019-12-01 00:53:51.9810,2019-12-04 11:38:43.2820,3378,E 76 St & Park Ave,40.773763,-73.962221,3376,E 65 St & 2 Ave,40.764719,-73.962221,29737,Customer,1969,0
347,252762,2019-12-01 00:53:59.7990,2019-12-03 23:06:42.4500,3378,E 76 St & Park Ave,40.773763,-73.962221,3810,Central Park West & W 82 St,40.782593,-73.971211,30887,Customer,1969,0
654,28144,2019-12-01 02:17:28.6120,2019-12-01 10:06:33.2000,473,Rivington St & Chrystie St,40.721101,-73.991925,507,E 25 St & 2 Ave,40.739126,-73.979738,27739,Customer,1990,1
962,292794,2019-12-01 04:23:52.2320,2019-12-04 13:43:46.9490,3764,Bushwick Ave & McKibbin St,40.705517,-73.939360,3763,Wyckoff Av & Jefferson St,40.707165,-73.923711,17363,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954919,47194,2019-12-31 23:15:49.7730,2020-01-01 12:22:24.0390,3136,5 Ave & E 63 St,40.766368,-73.971518,3898,E 63 St & 3 Ave,40.763954,-73.964600,39700,Customer,1969,0
954923,62451,2019-12-31 23:16:07.6860,2020-01-01 16:36:59.4580,3136,5 Ave & E 63 St,40.766368,-73.971518,3898,E 63 St & 3 Ave,40.763954,-73.964600,19213,Customer,1969,0
954943,60683,2019-12-31 23:19:46.7680,2020-01-01 16:11:10.2440,3142,1 Ave & E 62 St,40.761227,-73.960940,2022,E 60 St & York Ave,40.759107,-73.959223,40616,Customer,1996,1
955042,30713,2019-12-31 23:30:30.7520,2020-01-01 08:02:24.1890,479,9 Ave & W 45 St,40.760193,-73.991255,447,8 Ave & W 52 St,40.763707,-73.985162,41369,Customer,1969,0
955203,122099,2019-12-31 23:55:30.7260,2020-01-02 09:50:30.6710,3712,W 35 St & Dyer Ave,40.754692,-73.997402,347,Greenwich St & W Houston St,40.728846,-74.008591,38866,Customer,1977,1

In [125]:
decClean = decBY.drop(decBY[decBY['tripduration'] > 15000].index)

In [126]:
decClean['tripduration'].max()

14997

In [127]:
decClean['starttime'] = pd.to_datetime(decClean.starttime)
decClean.info('starttime')
decClean['stoptime'] = pd.to_datetime(decClean.stoptime)
decClean.info('stoptime')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 953861 entries, 0 to 955209
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             953861 non-null  int64
 1   starttime                953861 non-null  datetime64[ns]
 2   stoptime                 953861 non-null  object
 3   start station id         953861 non-null  int64
 4   start station name       953861 non-null  object
 5   start station latitude   953861 non-null  float64
 6   start station longitude  953861 non-null  float64
 7   end station id           953861 non-null  int64
 8   end station name         953861 non-null  object
 9   end station latitude     953861 non-null  float64
 10  end station longitude    953861 non-null  float64
 11  bikeid                   953861 non-null  int64
 12  usertype                 953861 non-null  object
 13  birth year               953861 non-null  int64
 14  gender                   953861 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(4)
memory usage: 116.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 953861 entries, 0 to 955209
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             953861 non-null  int64
 1   starttime                953861 non-null  datetime64[ns]
 2   stoptime                 953861 non-null  datetime64[ns]
 3   start station id         953861 non-null  int64
 4   start station name       953861 non-null  object
 5   start station latitude   953861 non-null  float64
 6   start station longitude  953861 non-null  float64
 7   end station id           953861 non-null  int64
 8   end station name         953861 non-null  object
 9   end station latitude     953861 non-null  float64
 10  end station longitude    953861 non-null  float64
 11  bikeid                   953861 non-null  int64
 12  usertype                 953861 non-null  object
 13  birth year               953861 non-null  int64
 14  gender                   953861 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 116.4+ MB

In [128]:
decClean.gender[decClean.gender == 0] = 'unknown'
decClean.gender[decClean.gender == 1] = 'male'
decClean.gender[decClean.gender == 2] = 'female'
decClean

C:\Users\roshi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,602,2019-12-01 00:00:05.564,2019-12-01 00:10:07.818,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,male
1,1206,2019-12-01 00:00:10.963,2019-12-01 00:20:17.882,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,male
2,723,2019-12-01 00:00:11.818,2019-12-01 00:12:14.831,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,male
3,404,2019-12-01 00:00:12.220,2019-12-01 00:06:56.886,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,male
4,1059,2019-12-01 00:00:14.723,2019-12-01 00:17:54.186,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,93,2019-12-31 23:58:18.016,2019-12-31 23:59:51.636,3141,1 Ave & E 68 St,40.765005,-73.958185,3142,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,female
955206,786,2019-12-31 23:58:59.896,2020-01-01 00:12:06.346,490,8 Ave & W 33 St,40.751551,-73.993934,513,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,male
955207,351,2019-12-31 23:59:03.695,2020-01-01 00:04:54.873,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3368,5 Ave & 3 St,40.672816,-73.983524,27746,Subscriber,1935,female
955208,1571,2019-12-31 23:59:21.361,2020-01-01 00:25:32.942,252,MacDougal St & Washington Sq,40.732264,-73.998522,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,male
955209,310,2019-12-31 23:59:55.296,2020-01-01 00:05:05.727,3351,E 102 St & 1 Ave,40.786995,-73.941648,3379,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,unknown

In [129]:
dayOfWeek = decClean.starttime.dt.day_name()
decClean['dayOfWeek'] = dayOfWeek
decClean

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,dayOfWeek
0,602,2019-12-01 00:00:05.564,2019-12-01 00:10:07.818,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,male,Sunday
1,1206,2019-12-01 00:00:10.963,2019-12-01 00:20:17.882,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,male,Sunday
2,723,2019-12-01 00:00:11.818,2019-12-01 00:12:14.831,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,male,Sunday
3,404,2019-12-01 00:00:12.220,2019-12-01 00:06:56.886,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,male,Sunday
4,1059,2019-12-01 00:00:14.723,2019-12-01 00:17:54.186,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,male,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955205,93,2019-12-31 23:58:18.016,2019-12-31 23:59:51.636,3141,1 Ave & E 68 St,40.765005,-73.958185,3142,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,female,Tuesday
955206,786,2019-12-31 23:58:59.896,2020-01-01 00:12:06.346,490,8 Ave & W 33 St,40.751551,-73.993934,513,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,male,Tuesday
955207,351,2019-12-31 23:59:03.695,2020-01-01 00:04:54.873,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3368,5 Ave & 3 St,40.672816,-73.983524,27746,Subscriber,1935,female,Tuesday
955208,1571,2019-12-31 23:59:21.361,2020-01-01 00:25:32.942,252,MacDougal St & Washington Sq,40.732264,-73.998522,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,male,Tuesday
955209,310,2019-12-31 23:59:55.296,2020-01-01 00:05:05.727,3351,E 102 St & 1 Ave,40.786995,-73.941648,3379,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,unknown,Tuesday

In [130]:
decClean['starttime'].min()

Timestamp('2019-12-01 00:00:05.564000')

In [131]:
decClean['starttime'].max()

Timestamp('2019-12-31 23:59:55.296000')

In [132]:
decClean['stoptime'].min()

Timestamp('2019-12-01 00:04:04.033000')

In [ ]:
decClean['stoptime'].max()

In [133]:
decClean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 953861 entries, 0 to 955209
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             953861 non-null  int64
 1   starttime                953861 non-null  datetime64[ns]
 2   stoptime                 953861 non-null  datetime64[ns]
 3   start station id         953861 non-null  int64
 4   start station name       953861 non-null  object
 5   start station latitude   953861 non-null  float64
 6   start station longitude  953861 non-null  float64
 7   end station id           953861 non-null  int64
 8   end station name         953861 non-null  object
 9   end station latitude     953861 non-null  float64
 10  end station longitude    953861 non-null  float64
 11  bikeid                   953861 non-null  int64
 12  usertype                 953861 non-null  object
 13  birth year               953861 non-null  int64
 14  gender                   953861 non-null  object
 15  dayOfWeek                953861 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(5), object(5)
memory usage: 123.7+ MB

In [134]:
#decClean.to_csv('decCBClean.csv', mode = 'w', index=False)

In [135]:
first2Cdata = marchClean.append(juneClean)
first2Cdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3447228 entries, 0 to 2125369
Data columns (total 16 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 datetime64[ns]
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   object
 15  dayOfWeek                object
dtypes: datetime64[ns](2), float64(6), int64(3), object(5)
memory usage: 447.1+ MB

In [136]:
second2Cdata = septClean.append(decClean)
second2Cdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3395273 entries, 0 to 955209
Data columns (total 16 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 datetime64[ns]
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   object
 15  dayOfWeek                object
dtypes: datetime64[ns](2), float64(4), int64(5), object(5)
memory usage: 440.4+ MB

In [137]:
allCdata = first2Cdata.append(second2Cdata)
allCdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6842501 entries, 0 to 955209
Data columns (total 16 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                datetime64[ns]
 2   stoptime                 datetime64[ns]
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   object
 15  dayOfWeek                object
dtypes: datetime64[ns](2), float64(6), int64(3), object(5)
memory usage: 887.5+ MB

In [138]:
allCdata.shape

(6842501, 16)

In [139]:
allCdata.gender.value_counts(dropna=False)

male       4664603
female     1658884
unknown     519014
Name: gender, dtype: int64

In [141]:
stationMapData = allCdata.iloc[: , [1, 2, 4, 5, 6, 8, 9, 10]].copy()
stationMapData.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude
0,2019-03-01 00:00:16.097,2019-03-01 00:24:39.388,Fulton St & Broadway,40.711066,-74.009447,Greenwich St & W Houston St,40.728846,-74.008591
1,2019-03-01 00:00:32.385,2019-03-01 00:05:18.183,E 4 St & 2 Ave,40.726281,-73.989780,E 2 St & Avenue C,40.720874,-73.980858
2,2019-03-01 00:00:47.797,2019-03-01 00:12:14.309,E 33 St & 5 Ave,40.747659,-73.984907,6 Ave & Spring St,40.725256,-74.004121
3,2019-03-01 00:01:01.209,2019-03-01 00:08:23.751,6 Ave & Spring St,40.725256,-74.004121,Bayard St & Baxter St,40.716021,-73.999744
4,2019-03-01 00:01:09.281,2019-03-01 00:49:42.381,W 31 St & 7 Ave,40.749156,-73.991600,W 16 St & The High Line,40.743349,-74.006818

In [142]:
#stationMapData.to_csv('Clean_Data/stationMapData.csv', mode = 'w', index=False)

In [144]:
allCdata.to_csv('Clean_Data/alldata.csv', mode = 'w', index=False)

In [145]:
tripAll = allCdata.iloc[: , [0, 1, 2, 12, 13, 14, 15]].copy()
tripAll.shape

(6842501, 7)

In [146]:
#tripAll.to_csv('tripAll.csv', mode = 'w', index=False)

In [147]:
bikeDataAll = allCdata.iloc[: , [0, 1, 2, 11]].copy()
bikeDataAll.shape

(6842501, 4)

In [148]:
#bikeDataAll.to_csv('bikeDataAll.csv', mode = 'w', index=False)

In [149]:
latLongDataAll = allCdata.iloc[: , [3, 4, 5, 6, 7, 8, 9, 10]].copy()
latLongDataAll.head()

,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude
0,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591
1,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858
2,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121
3,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744
4,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818

In [150]:
latLongDataAll['start station name'].nunique()

927

In [151]:
latLongDataAll['start station id'].nunique()

928

In [152]:
latLongDataAll['end station name'].nunique()

947

In [153]:
latLongDataAll['end station id'].nunique()

947

In [154]:
latLongDataAll['freq'] = latLongDataAll.groupby('start station id')['start station id'].transform('count')
latLongDataAll.head()

,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,freq
0,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,15907.0
1,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,19912.0
2,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,14259.0
3,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,446.0
4,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,28727.0

In [155]:
n = 10
latLongDataAll['start station name'].value_counts()[:n].index.tolist()

['Pershing Square North',
 '8 Ave & W 31 St',
 'E 17 St & Broadway',
 'Broadway & E 14 St',
 'Broadway & E 22 St',
 'West St & Chambers St',
 'Broadway & W 60 St',
 'Christopher St & Greenwich St',
 '12 Ave & W 40 St',
 'W 21 St & 6 Ave']

In [156]:
n = 10
latLongDataAll['end station name'].value_counts()[:n].index.tolist()

['Pershing Square North',
 'E 17 St & Broadway',
 'Broadway & E 22 St',
 '8 Ave & W 31 St',
 'West St & Chambers St',
 'Broadway & E 14 St',
 '12 Ave & W 40 St',
 'Christopher St & Greenwich St',
 'Broadway & W 60 St',
 'W 21 St & 6 Ave']

In [157]:
latLongDataAll.to_csv('latLongDataAll.csv', mode = 'w', index=False)